.toolbar {
    width: 100%;
    /* background: purple; */
    height: 60px;
    top: 0;
    left: 0;
    z-index: 100;
}

.toolbar__logo {
    margin-left: 1.5rem;
    font-family: "Roboto";
    font-weight: 500;
}

.spacer {
    /* display: flex; */
    flex: 1;
    /* border: 2px solid; */
}
.toolbar__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
   
}



.toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar__navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


.toolbar__navigation-items li {
    padding: 0 0.5rem;
}
.toolbar__navigation-items a {
    color: white;
    text-decoration: none;
}

.toolbar__navigation-items a:hover, .toolbar__navigation-items a:active {
    color: orange;
}

.toolbar__logo a {
 color: white;
 text-decoration: none;
 font-size: 1.5rem
}

@media (max-width: 768px) {

    .toolbar__navigation-items {
        display: none;
        
    }

    .toolbar__logo a {
        color: #384949;
    }

    .toolbar__navigation {
        justify-content: center;
        position: relative;
    }

    .toolbar__toggle-button {
        /* background: orange; */
        position: absolute;
        left: 25px;
        bottom: 10.8px;

    }
    .spacer {
        display: none;
    }

    .toolbar {
        background: white;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
             box-shadow: 0 2px 4px -2px black;
        position: fixed;
    }

    

    
}

@media (min-width: 769px){
    .toolbar__toggle-button {
        display: none;
    }

    
   
    
    .toolbar_logo {
        margin-left: 0;
    }
}