/* .Desktop-NavMenu ul {
  list-style-type: none;
  display: flex;
  margin-right: 30px;
}

.Mobile-Menu-Overlay {
  display: hidden;
}


.Mobile-DrawerMenu {
  display: hidden;
}

.Desktop-NavMenu li {
  padding: 10px;
  background: orange;
}

.Cloud {
  background: orange;
  position: absolute;
  height: 100%;
  width: 100px;
  left: 20px;
  
}
.Desktop-NavMenu {
  position: relative;
  display: flex;
  background: blue;
  justify-content: flex-end;
 
}

.Mobile-NavMenu {
  display: none;
} */
/* 
@media only screen and (max-width: 600px) {

  .Desktop-NavMenu {
    display: none;
  }

  .Mobile-NavMenu{
    position: relative;
    display: flex;
    justify-content: center;
    background: blue;
  }

  
  .Mobile-NavMenu h5 {
    background: purple;
  }
  
  .Mobile-NavMenu div {
    position: absolute;
    left: 20px;
    width: 50px;
    height: 100%;
    background: orange;
  }

  .Mobile-DrawerMenu {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 300px;
    background: red;
    transition: 1s;
    z-index: 10000;
  }

  .Mobile-Menu-Overlay {
    
    background: black;
    opacity: .2;

    
  }


 
} */